.header {
  display: flex;
  flex-direction: "row";
  justify-content: space-between;
}
.btn-primary {
  background-color: #61B33B;
  border-radius: 5px;
  /* padding-left: 50px; */
}
.button > button{
    display: inline-block;
}
.b1{
    justify-content: space-between;

}

/* Hover dropdown */
.hover_drop_down.input-group-btn ul.dropdown-menu{margin-top: 0px;}/*To avoid unwanted close*/
.hover_drop_down.btn-group ul.dropdown-menu{margin-top:0px;}/*To avoid unwanted close*/
.hover_drop_down:hover ul.dropdown-menu{
   display: block;
   margin-top: auto;
   border-radius: 10px;
   background-color: #F8F8F8;
}

.hover_drop_down:hover ul.dropdown-menu li{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.draggable, .droptarget {
    border: 20px solid black;
    margin: 30px;
    padding: 30px;
    text-align: center;
    font-size: 3rem;
  }
  .droptarget {
    border: 1px dashed black;
    border-radius: 5px;
    transition: border-width 4.5s linear;
  }